<div class="wrapper top-wrapper list-step">
  <ul class="list-step">
    <li class="past domen" [ngClass]="{true:'active', false:''}[state=='domain']">
      <img src="img/blank.gif" alt="">
      <span>Домен</span>
    </li>
    <li class="past tarif" [ngClass]="{true:'active', false:''}[state=='tariff']">
      <img src="img/blank.gif" alt="">
      <span>Выбор тарифа</span>
    </li>
    <li class="past setting" [ngClass]="{true:'active', false:''}[state=='settings']">
      <img src="img/blank.gif" alt="">
      <span>Стартовые настройки</span>
    </li>
    <li class="past ready" [ngClass]="{true:'active', false:''}[state=='ready']">
      <img src="img/blank.gif" alt="">
      <span>Готово!</span>
    </li>
  </ul>
</div>