<div class="wrapper top-wrapper list-step">
  <ul class="list-step">
    <li class="past domen active">
      <img src="assets/images/blank.gif" alt="">
      <span>Домен</span>
    </li>
    <li class="past tarif" [ngClass]="{true:'active', false:''}[state=='tariff' || state=='settings' || state=='ready']">
      <img src="assets/images/blank.gif" alt="">
      <span>Выбор тарифа</span>
    </li>
    <li class="past setting" [ngClass]="{true:'active', false:''}[state=='settings' || state=='ready']">
      <img src="assets/images/blank.gif" alt="">
      <span>Стартовые настройки</span>
    </li>
    <li class="past ready" [ngClass]="{true:'active', false:''}[state=='ready']">
      <img src="assets/images/blank.gif" alt="">
      <span>Готово!</span>
    </li>
  </ul>
</div>