
    <div *ngIf="data?.status" class="card">
      <div class="card-header backup-card-header">
        SQL-бэкапы
        <span class="backup-count">{{ data?.backup_count }}</span>
      </div>
      <div class="card-body with-navbar one-row">
        <div class="row nav-row">
          <div class="col-5" style="text-align:left;">
            {{ data?.date }}
          </div>
          <div class="col-7" style="text-align:right;">
            Размер {{ data?.size }}<span class="backup-count">+{{ data?.size_delta }}</span>
          </div>
        </div>
        <h5 style="margin-left: 20px;" class="green-title"><span
                class="btn btn-circle btn-sm"><i
                class="fas fa-briefcase-medical"></i></span>Title</h5>
        <div class="row content-row" style="padding-top:12px;padding-bottom:10px;">

          <div class="col-12">
            <div class="info-box">
              <span class="info-box-title">askjlhd</span>
              <div class="info-box-count">
                <div class="info-box-count-new"><i
                        class="fas fa-plus-circle"></i>20
                </div>
                <div class="info-box-count-all warning"><i
                        class="fas fa-exclamation-triangle"></i>50
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row content-row" style="padding-bottom:10px;">
          <div class="col-12">
            <div class="info-box">
              <span class="info-box-title">askjlhd</span>
              <div class="info-box-count">
                <div class="info-box-count-new"><i
                        class="fas fa-plus-circle"></i>20
                </div>
                <div class="info-box-count-all warning"><i
                        class="fas fa-exclamation-triangle"></i>50
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

