<div *ngIf="data.status" class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body one-row">
    <div class="row">
      <div class="col-12">
        <div class="info-box">
          <span class="info-box-title">askjlhd</span>
          <div class="info-box-count">
            <div class="info-box-count-new"><i class="fas fa-plus-circle"></i>20
            </div>
            <div class="info-box-count-all warning"><i
                    class="fas fa-exclamation-triangle"></i>50
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="info-box">
          <span class="info-box-title">askjlhd</span>
          <div class="info-box-count">
            <div class="info-box-count-new"><i class="fas fa-plus-circle"></i>20
            </div>
            <div class="info-box-count-all warning"><i
                    class="fas fa-exclamation-triangle"></i>50
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>