<div class="wrapper middle-wrapper dns">
  <div class="top">
    Измените DNS-сервера в настройках вашего домена на новые
  </div>
  <div class="middle">
    <div class="list-dns-block">
      <ul class="list-last-dns">
        <li class="name-table">Текущие DNS-сервера</li>
        <li>ns1.beget.ru</li>
        <li>ns2.beget.com</li>
        <li>ns3.beget.net</li>
        <li>  </li>
      </ul>
      <ul class="list-new-dns">
        <li class="name-table">Новые DNS-сервера</li>
        <li>ns1.proofdns.com</li>
        <li>ns2.proofdns.com</li>
        <li>ns3.proofdns.net</li>
        <li>ns4.proofdns.net</li>
      </ul>
    </div>
    <div class="text-after-something">
      Процесс смены DNS серверов в редких случаях может занять до 24 часов. Ваш сайт в это время будет
      работать в обычном режиме. После смены DNS серверов в панели управления сайтом загорится зеленый
      щит. Это будет означать, что смена серверов прошла успешно, и сайт автоматически подключился к
      модулю ускорения FireCDN.
    </div>
    <div class="bottom-block-btn">
      <a href="#" class="btn-orn">Готово!</a>
    </div>
  </div>
</div>