<div class="tuning wrapper middle-wrapper">
    <div class="top">Выполняю автоматические настройки</div>
    <div class="middle" *ngIf="initialized">
        <app-progress-bar title="Security & backup" [percent]="backupPercent" [skipped]="!hostingSettings.backupSupport" (activate)="activateBackup()"></app-progress-bar>
        <app-progress-bar title="FireCDN" [percent]="firePercent" [skipped]="!hostingSettings.firewallSupport" (activate)="activateCDN()"></app-progress-bar>
        <app-video-block *ngIf="hostingSettings.backupSupport && hostingSettings.firewallSupport"></app-video-block>
        <div class="text-after-something" *ngIf="hostingSettings.firewallSupport && firePercent == 100 && subdomains">
            Найденные поддомены:
            <strong *ngFor="let subdomain of subdomains">{{ subdomain }}</strong>
        </div>
        <div class="link-after-something" *ngIf="hostingSettings.firewallSupport && firePercent == 100 && !isDnsInfoBlank"><a (click)="showDnsSettings()">Редактировать поддомены и DNS записи</a></div>
        <div class="bottom-block-btn">
            <button class="btn-orn" style="margin:0 auto;" *ngIf="(!hostingSettings.firewallSupport || firePercent == 100) && (!hostingSettings.backupSupport || backupPercent == 100)" (click)="finish()">Далее</button>
        </div>
    </div>
</div>