<div class="wrapper middle-wrapper">
  <div class="top">Выполняю автоматические настройки</div>
  <div class="middle">
    <div class="progressbar-block ">
      <div class="title-bar">Security & backup: <span class="numeral">48%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <div class="progressbar-block">
      <div class="title-bar">FireCDN: <span class="numeral">100%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <div class="progressbar-block ">
      <div class="error"><i class="icn-sadsmaile"></i><span>К сожалению, вы не подключили модуль Security & backup</span></div>
      <div class="progress">
      </div>
      <a href="#" class="btn-orn">Подключить</a>
    </div>
    <div class="text-after-something">  Найденные поддомены: <strong>ololo.domen.ru</strong>   <strong>ololo2.domen.ru</strong>   <strong>ololo3.domen.ru</strong> </div>
    <div class="link-after-something"><a href="#">Редактировать поддомены и DNS записи</a></div>
    <div class="bottom-block-btn">
      <a href="#" class="btn-orn">Далее</a>
    </div>
  </div>
</div>