<div class="tuning wrapper middle-wrapper">
    <div class="top">Выполняю автоматические настройки</div>
    <div class="middle" *ngIf="initialized">
        <app-progress-bar title="Security & backup" [percent]="backupPercent" [skipped]="!hostingSettings.backupSupport" (activate)="activateBackup()"></app-progress-bar>
        <app-progress-bar title="FireCDN" [percent]="firePercent" [skipped]="!hostingSettings.firewallSupport" (activate)="activateCDN()"></app-progress-bar>
        <app-video-block *ngIf="hostingSettings.backupSupport && hostingSettings.firewallSupport"></app-video-block>
        <div *ngIf="subdomains">
            <div class="text-after-something"> Найденные поддомены: <strong>ololo.domen.ru</strong> <strong>ololo2.domen.ru</strong>
                <strong>ololo3.domen.ru</strong></div>
            <div class="link-after-something"><a href="#">Редактировать поддомены и DNS записи</a></div>
        </div>
        <div class="bottom-block-btn">
            <a href="#" class="btn-orn">Далее</a>
        </div>
    </div>
</div>