<div class="wrapper middle-wrapper tuning tuning-2 chose-tarif">
    <div class="top">Выберите себе подходящий тариф</div>
    <div class="middle">
        <app-tariff  (buttonClick)="selectTariff(trf)" *ngFor="let trf of tariffs" [tariff]="trf"></app-tariff>
        <div class="bottom-block-btn btn-block-tariff" *ngIf="currentTariff">
            <button (click)="next()" href="#free" class="btn-orn" data-fancybox>{{ currentTariff.type == 'free' ? 'Далее' : (currentTariff.type == 'pay' ? 'Оплатить' : 'Оставить заявку') }}</button>
        </div>
    </div>
</div>