<div class="row with-limit-block" *ngIf="has_content">
  <div class="col block-title">
    <h2 class="float-left">Скорость</h2>
    <ngb-progressbar *ngIf="cnt_limit > 0" type="info" [value]="cnt ? 100 * round(cnt/cnt_limit) : 0" [striped]="true"></ngb-progressbar>
    <app-date-filter (filterSubmitted)="submitFilter($event)"></app-date-filter>
  </div>
</div>
<div class="row" *ngIf="has_content">
  <div class="col">
    <app-chart-content-block [siteId]="siteId" [parent]="this" [filterEvent]="filterEvent"></app-chart-content-block>
  </div>
</div>
<div class="row" *ngIf="has_content">
  <div class="col-sm-3">
    <app-accelerated-requests-content-block [siteId]="siteId" [parent]="this" [filterEvent]="filterEvent"></app-accelerated-requests-content-block>
  </div>
  <div class="col-sm-3">
    <app-load-speed-content-block [siteId]="siteId" [parent]="this" [filterEvent]="filterEvent"></app-load-speed-content-block>
  </div>
  <div class="col-sm-3">
    <app-cached-static-response-content-block [siteId]="siteId" [parent]="this" [filterEvent]="filterEvent"></app-cached-static-response-content-block>
  </div>
  <div class="col-sm-3">
    <app-cached-dynamic-response-content-block [siteId]="siteId" [parent]="this" [filterEvent]="filterEvent"></app-cached-dynamic-response-content-block>
  </div>
</div>
