.popover-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    color: #4b4b4b;
}

.popover-button:focus,
.popover-button:active {
    outline: none;
}

.item {
    margin: 3px 10px;
    cursor: pointer;
}