<div *ngIf="data?.status" class="card">
  <div class="card-header">
    title text
  </div>
  <div class="card-body body-with-nav">
    <div class="card-title">
      <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link active" href="#">Active<span
                class="nav-count-new">20</span><span
                class="nav-count-all">(50)</span></a>
        <a class="nav-item nav-link" href="#">Link</a>
        <a class="nav-item nav-link" href="#">Link</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      </nav>
    </div>
    <div class="card-text">
      <div class="row">
        <div class="col-3">
          <div class="info-box">
            <span class="info-box-title">askjlhd</span>
            <div class="info-box-count">
              <div class="info-box-count-new"><i
                      class="fas fa-plus-circle"></i>20
              </div>
              <div class="info-box-count-all warning"><i
                      class="fas fa-exclamation-triangle"></i>50
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="info-box">
            <span class="info-box-title">askjlhd</span>
            <div class="info-box-count">
              <div class="info-box-count-new"><i
                      class="fas fa-plus-circle"></i>20
              </div>
              <div class="info-box-count-all">50</div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="info-box">
            <span class="info-box-title">askjlhd</span>
            <div class="info-box-count">
              <div class="info-box-count-new"><i
                      class="fas fa-plus-circle"></i>20
              </div>
              <div class="info-box-count-all">50</div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="info-box">
            <span class="info-box-title">askjlhd</span>
            <div class="info-box-count">
              <div class="info-box-count-new"><i
                      class="fas fa-plus-circle"></i>20
              </div>
              <div class="info-box-count-all">50</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="info-box">
            <span class="info-box-title">askjlhd</span>
            <div class="info-box-count">
              <div class="info-box-count-new"><i
                      class="fas fa-plus-circle"></i>20
              </div>
              <div class="info-box-count-all">50</div>
            </div>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
  </div>
</div>