<div class="wrapper middle-wrapper">
    <div class="top">
        SSL сертификат
    </div>
    <div class="middle">
        <div class="text-after-something">
            <strong>Разместите подтверждающий файл для получения SSL</strong>
            Разместите файл <a href="#">ololo.txt</a> с содержанием «blablabla» в корневой директории вашего сайта. Он
            должен быть доступен по ссылке:
            <a href="#">http://domen.ru/ololo.txt</a>
        </div>
        <div class="download-load-certificate">
            <a href="#" class="btn-blue">Скачать файл</a>
            <span>или</span>
            <a href="#">Загрузить сертификат</a>
        </div>
        <div class="text-after-something">
            <i class="attention-icn-blue-mini"></i> <span>SSL от Let's Encrypt – бесплатно и с автоматическим продлением.</span>
        </div>
        <div class="bottom-block-btn">
            <button (click)="onSubmit()" class="btn-orn" data-fancybox>Далее</button>
        </div>
        <div class="link-after-something"><a href="#skip-step" (click)="onSkip()" data-fancybox>Пропустить этап и перейти дальше</a></div>
    </div>
</div>