<div class="wrapper middle-wrapper">
  <div class="top">Модуль ускорения и защиты FireCDN</div>
  <div class="middle">
    <ul class="list-beckup-antivirus-speedup">
      <li><i class="icn-speedup"></i><span>Ускорение сайта</span></li>
      <li><i class="icn-defend"></i><span>Защита от взломов и атак</span></li>
      <li><i class="icn-uptime"></i><span>100% аптайм</span></li>
      <li><i class="icn-decline"></i><span>Снижение нагрузки на хостинг</span></li>
    </ul>
    <div class="bottom-block-btn">
      <a href="#" class="btn-orn">Подключить</a>
      <a href="#" class="btn-def-blue">Пропустить</a>
    </div>
    <div class="note">
      <i class="attention-icn-mini"></i>
      <span>Для подключения понадобится смена DNS серверов</span>
    </div>
  </div>
</div>