
:host /deep/ .has-error .form-control {
    border-color: #e33618;
}

:host /deep/ .error-description {
    text-align: right;
    color: #e33618;
    display: none;
}

:host /deep/ .has-error .error-description {
    display: block;
}

:host /deep/ .form-group label {
    font-weight: bold;
    font-size: smaller;
}

.modal-footer button {
    display: block;
    width: 49%;
}

.modal-footer button + button {
    margin-left: 2%;
}
