<div class="modal-header">
  <h4 class="modal-title">Новый бэкап</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(null)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" >
    <form [formGroup]="backupForm" class="add-comment-form">
        <label>
           SQL-бэкап
            <input type="checkbox" formControlName="sql">
        </label>
        <label>
            Файловый бэкап
            <input type="checkbox" formControlName="ftp">
        </label>
        <label>
            Название
            <input type="text" formControlName="name">
        </label>
        <label>
            Режим сканирования
            <select type="text" formControlName="scanMode">
                <option [value]="0">Обычный</option>
                <option [value]="1">Глубокое сканирование</option>
            </select>
        </label>
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-orange" (click)="activeModal.close(createEntity(entity))">Создать</button>
</div>