<div class="wrapper attention minw480" *ngIf="authService.getUser() && authService.getUser().confirmed">
  <div class="txt">
    <div class="name">Внимание!</div>
    <p>Ваш аккаунт не подтвержден. На вашу почту {{ authService.getUser().email }} отправлено письмо с подтверждением.
      Перейдите по указанной в письме ссылке, чтобы подтвердить регистрацию.</p>
  </div>
  <div class="link-block">
    <div class="top-link"><a href (click)="sendConfirmation()" data-fancybox>Выслать повторно</a></div>
    <div class="bottom-link"><a href (click)="changeEmail()" data-fancybox>Изменить почту</a></div>
  </div>
</div>