<div class="md md-810" id="free">
  <button data-fancybox-close class="close-md" (click)="activeModal.close('skip')">X</button>
  <div class="title-md">Тариф “Бесплатный”</div>
  <div class="txt-md">
    <p>Желаете заказать услугу подключения сайта <br>
      «под ключ» за 2 000 руб.?</p>
    <div class="btn-block-md">
      <button class="btn-orn" (click)="activeModal.close(null)">Хочу подключение</button>
      <button class="btn-gray" (click)="activeModal.close('skip')">Нет, спасибо, я сам</button>
    </div>
  </div>
</div>