<div class="wrapper middle-wrapper">
  <div class="top">Подключить бэкапы и антивирус?</div>
  <div class="middle">
    <ul class="list-beckup-antivirus-speedup">
      <li><i class="icn-beckup"></i><span>Ежедневные бэкапы</span></li>
      <li><i class="icn-antivirus"></i><span>Антивирус</span></li>
      <li><i class="icn-recycle"></i><span>Восстановление сайта в 1 клик</span></li>
      <li><i class="icn-ssl"></i><span>Быстрый выпуск SSL и автонастройка HTTPS</span></li>
    </ul>
    <div class="bottom-block-btn">
      <button (click)="onAcceptSubmit()" class="btn-orn">Подключить</button>
      <button (click)="onSubmit()" class="btn-def-blue">Пропустить</button>
    </div>
    <div class="note">
      <i class="attention-icn-mini"></i>
      <span>Для подключения понадобится FTP доступ к папке с сайтом</span>
    </div>
  </div>
</div>