<main class="enter">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <ng4-loading-spinner> </ng4-loading-spinner>
                <div class="top">Вход</div>
                <div class="middle">
                    <form name="form" (ngSubmit)="loginForm.form.valid && onSubmit(loginForm.value)" #loginForm="ngForm"
                          novalidate>
                        <!--<label class="one-line invalid-input" *ngIf="errors && ((errors.indexOf('email') != -1) || (errors.indexOf('password') != -1))">Неверное имя пользователя или пароль</label>-->
                        <label class="one-line" [ngClass]="{true:'', false:'invalid-input'}[email.valid]">
                            <span><i class="fa fa-envelope"></i></span>
                            <input type="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel"
                                   name="email"
                                   required/>
                        </label>
                        <label class="input-line" [ngClass]="{true:'validate', false:'novalidate'}[password.valid]">
                            <span><i class="fa fa-lock"></i></span>
                            <input type="password" id="pass_id" placeholder="Пароль" #password="ngModel"
                                   [(ngModel)]="model.password"
                                   name="password" required/>
                            <span id="showpassword" class="showpassword"><img src="assets/images/eye.png" alt=""></span>
                        </label>
                        <label class="check-line ">
                            <input type="checkbox" ngModel [(ngModel)]="model.remember_me" name="rememberme">
                            <span class="text">Запомнить меня</span>
                        </label>
                        <div class="recycle-password"><a href="#recycle-password" data-fancybox>Восстановить пароль <i
                                class="fa fa-angle-right"></i></a></div>
                        <input type="submit" class="btn-orn" value="Войти" name="submit">
                        <div class="registration"><a [routerLink]="['/register']">Еще нет аккаунта? <i
                                class="fa fa-angle-right"></i></a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
