<div class="row" *ngIf="has_content">
  <div class="col block-title">
    <h2>Безопасность</h2>
    <div class="clearfix"></div>
    <app-date-filter (filterSubmitted)="submitFilter($event)"></app-date-filter>
  </div>
</div>
<div class="row" *ngIf="has_content">
  <div class="col-sm-4">
    <app-blocked-requests-content-block [siteId]="siteId" [parent]="this" [filterEvent]="filterEvent"></app-blocked-requests-content-block>
  </div>
  <div class="col-sm-4">
    <app-changes-control-content-block [siteId]="siteId" [parent]="this" [filterEvent]="filterEvent"></app-changes-control-content-block>
  </div>
  <div class="col-sm-4">
    <app-inner-antivirus-content-block [siteId]="siteId" [parent]="this" [filterEvent]="filterEvent"></app-inner-antivirus-content-block>
  </div>
</div>
<div class="row" *ngIf="has_content">
  <div class="col">
    <app-webscan-content-block [siteId]="siteId" [parent]="this" [filterEvent]="filterEvent"></app-webscan-content-block>
  </div>
</div>