<div class="row with-limit-block" *ngIf="has_content">
    <div class="col block-title">
        <h2 class="float-left">Бэкапы
        </h2>
        <ngb-progressbar *ngIf="cnt_limit > 0" type="info" [value]="cnt ? 100 * round(cnt/cnt_limit) : 0" [striped]="true"></ngb-progressbar>
        <button type="button" class="btn btn-secondary backup-settings-button float-right">Управление бэкапами<i class="fas fa-cog"></i></button>
    </div>
</div>
<div class="row backup-filter-block-row first-row" *ngIf="has_content">


    <div class="col-sm-8">
        <app-file-backup-content-block [parent]="this" [siteId]="siteId"></app-file-backup-content-block>
    </div>
    <div class="col-sm-4">
        <app-db-backup-content-block [parent]="this" [siteId]="siteId"></app-db-backup-content-block>
    </div>
</div>
<div class="row backup-filter-block-row" *ngIf="has_content">
    <div class="col">
        <app-backup-interval-content-block [parent]="this" [siteId]="siteId"></app-backup-interval-content-block>
    </div>
</div>
<div class="row backup-filter-block-row" *ngIf="has_content">
    <div class="col">
        <app-new-backup-content-block [parent]="this" [siteId]="siteId"></app-new-backup-content-block>
    </div>
</div>